/* Google Fonts: Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
    align-items: center;
    background: linear-gradient(45deg, #f8c8dc, #d8c4f1);
    color: #5a4a5c;
    display: flex;
    font-family: Poppins, serif;
    justify-content: center;
    min-height: 100dvh;

    nav.back {
        align-items: center;
        border: 2px solid #ffffff;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        height: 40px;
        left: 8px;
        opacity: .8;
        padding: 0.4rem;
        position: fixed;
        top: 8px;
        transform: scale(.8);
        transition: transform 0.4s ease-in,
                    opacity 0.4s 0.4s ease-in;
        width: 40px;

        &:hover {
            transform: scale(1.1);
            opacity: 1;
        }

        a:is(:link, :visited) {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    &.mainmenu.layout {
        background: linear-gradient(45deg, #f6c6d8, #cdb7e9);

        main {
            header {
                h1 {
                    margin: 0;
                }

                h3 {
                    font-weight: 200;
                }

                img {
                    background-color: #ffffff55;
                }
            }

            menu {
                gap: 0.4rem;

                a:is(:link, :visited) {
                    span {
                        background-color: #d99ab5;
                    }

                    aside {
                        h3 {
                            font-size: 1rem;
                        }
                    }

                    &:is(:hover) {
                        background-color: #d99ab5;
                    }
                }
            }
        }
    }

    main {
        background: linear-gradient(to bottom, #ffffffaa, #ffffff33);
        border-radius: 0.8rem;
        max-width: 380px;
        padding: 1rem;

        section {
            background-color: #fff8fb;
            border-radius: 0.6rem;
            margin: 2rem auto;
            padding: 0.4rem;
        }

    }

    /* Main Menu */
    &.mainmenu {
        main {
            header {
                h1 {
                    border-bottom: 2px solid #d9a6bc;
                    color: #6b5068;
                    font-size: 3.2rem;
                    font-weight: 200;
                    text-align: center;
                }

                img {
                    border: 4px solid #f1d2df;
                    border-radius: 50%;
                    display: flex;
                    height: 280px;
                    margin: 1rem auto;
                    object-fit: cover;
                    object-position: top;
                    width: 280px;
                }

                h2 {
                    color: #6b5068;
                    font-weight: 500;
                    margin: 0;
                    text-transform: uppercase;
                    text-align: center;
                }

                h3 {
                    color: #806b7d;
                    font-weight: 400;
                    margin: 0;
                    text-align: center;
                }

                h4 {
                    color: #927f90;
                    font-size: 0.8rem;
                    font-weight: 300;
                    margin: 0;
                    text-align: center;
                }

                h5 {
                    color: #806b7d;
                    font-size: 0.8rem;
                    font-weight: 500;
                    margin: 0;
                    text-align: center;
                }
            }

            menu {
                align-items: center;
                display: flex;
                flex-direction: column;
                gap: 1rem;
                justify-content: center;
                padding: 0;

                a:is(:link, :visited) {
                    align-items: center;
                    background-color: #ffffff99;
                    border: 1px solid #edcbd9;
                    border-radius: 5rem;
                    color: #6b5068;
                    display: flex;
                    padding: 0.6rem;
                    text-decoration: none;
                    transition: transform 0.4s ease-in,
                                background 0.4s 0.2s ease-in;
                    width: 320px;

                    &:is(:hover) {
                        background-color: #f3b8ce;
                        transform: scale(1.04) translateX(18px);
                    }

                    span {
                        align-items: center;
                        background-color: #d9a0b9;
                        border-radius: 50%;
                        display: flex;
                        justify-content: center;
                        font-size: 1.8rem;
                        height: 60px;
                        transition: all 0.4s ease-in;
                        width: 60px;
                    }

                    &:hover span {
                        background-color: #c9b4e5;
                    }

                    aside {
                        margin-left: 0.6rem;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: start;

                        h3 {
                            color: #6b5068;
                            margin: 0;
                            font-size: 1.6rem;
                            font-weight: 400;
                        }

                        small {
                            color: #927f90;
                            font-size: 0.8rem;
                            font-weight: 300;
                        }
                    }
                }
            }
        }
    }
}
```
